{
    apiKey: "AIzaSyBQ_lmAHI5kUnOaHUlWMf6VritUZy4elEI",
    authDomain: "g2gdevtest.firebaseapp.com",
    databaseURL: "https://g2gdevtest.firebaseio.com",
    projectId: "g2gdevtest",
    storageBucket: "g2gdevtest.appspot.com",
    messagingSenderId: "604223302864",
    appId: "1:604223302864:web:c9e2845d799d09bf4902d5"
}